/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--base: 8, 8, 8;
	--base-comp-1: 247, 247, 247;
	--base-comp-2: 239, 239, 239;
	--base-comp-3: 223, 223, 223;
	--base-comp-4: 192, 192, 192;
	--base-comp-5: 128, 128, 128;
	--base-satu: 15, 18, 25;
	--base-gradient: rgb(var(--base-satu)), rgb(var(--base));
	--main: 255, 34, 34;
	--accent: 35, 55, 255;
	--accent-dark: 0, 13, 138;

	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--base-satu), 50%), rgb(var(--base));
	--box-shadow:
		0 2px 6px rgba(var(--base-comp-3), 25%), 0 8px 24px rgba(var(--base-comp-3), 33%), 0 16px 32px
		rgba(var(--base-comp-3), 33%);
	
	--width: 720px;

	--font-deco: "Atkinson", "Toppan BunkyuMidashiGoStd Eb", sans-serif;
	--font-mono: "Atkinson", "Zen Kaku Gothic New Regular", sans-serif;
}
@font-face {
	font-family: "Atkinson";
	src: url("/public/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/public/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Toppan BunkyuMidashiGoStd Eb";
	src: url("/public/fonts/toppan-bunkyumidashigostd-eb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Zen Kaku Gothic New Regular";
	src: url("/public/fonts/zen-kaku-gothic-new-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: var(--font-mono);
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--base-gradient)) no-repeat;
	background-size: 100% 720px;
	background-color: rgb(var(--base));
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--base-comp-2));
	font-size: 20px;
	line-height: 1.7;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-deco);
	margin: 0 0 0.5rem 0;
	color: rgb(var(--base-comp-1));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: rgb(var(--accent));
}
a:hover {
	color: rgb(var(--accent));
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
.prose > * {
	width: var(--width);
	margin-left: auto;
	margin-right: auto;
}
.prose > p:has(>img),
.image-wider {
	width: 100vw;
	max-height: 15vh;
	aspect-ratio: 21 / 9;
	overflow: hidden;
}
.prose > p > img,
.image-wider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--base-comp-5));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid rgb(var(--accent));
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--base-comp-5));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
